<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="BU MET CS601 - Assignment 6">
    <meta name="author" content="Bin Xu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue: show/hide</title>

    <!-- This is a development version of Vue.js! -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <style>
        body {
            padding: 20px;
            text-align:center;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
            color: rgb(255, 102, 0);
            font-family: arial,serif;
            background: lightblue url("background.png");
        }
        img {
            width: 28%;
            max-width: 100%;
            height: 35%;
            border: 8px solid whitesmoke;
            border-radius: 10px;
            background-color: #e1e1e1;

        }
        button {
            border-radius:50%;
            border: 4px solid rgb(255, 102, 0);
            background-color: #e1e1e1;
            height:50px;
            width:50px;
            padding: 0;
            outline: none;
            transition: all 1.2s ease-in;
        }
        .input {
            font-family: sans-serif;
            border: 1px solid #eee;
            border-radius: 2px;
            padding: 20px 30px;
            margin-top: 1em;
            margin-bottom: 40px;
            user-select: none;
            overflow-x: auto;
        }

    </style>
</head>

<body>
    <h1>Welcome!</h1>
<!--using v-show, mouseenter, mouseleave to show the image -->
    <div id="img1">
                <a href="" @mouseenter="show(4)" @mouseleave="show(0)">
                    <img v-show="active ===0" src="img_3.png" alt="pets" >
                    <img v-show="active === 4" class="hide_tab" src="img_4.png" alt="pets">
                </a>
    </div>
<!--using v-on to create the click button-->
    <div id="clickevent">
        <button v-on:click="counter += 1">Like</button>
        <p> + {{ counter }} like </p>
    </div>

    <!--create new vue, need v-if condition to change the status of image-->
    <script>
        new Vue ({
            el: '#img1',
            data() {
                return {
                    active: 0,
                    // visible: true,
                };
            },

            methods: {
                show(index) {
                    if (index !== 0) {
                        // this.visible = false;
                        this.active = index;
                    } else {
                        // this.visible = true;
                        this.active = index;
                    }
                },
            }
        })
        new Vue ({
            el: '#clickevent',
            data() {
                return {
                    counter: 0
                }
            }
        })
    </script>

    <div id="img2">
        <a href="" @mouseenter="show(4)" @mouseleave="show(0)">
            <img v-show="active ===0" src="img_2.png" alt="pets" >
            <img v-show="active === 4" class="hide_tab" src="img_1.png" alt="pets">
        </a>
    </div>
    <div id="clickevent2">
        <button v-on:click="counter += 1">Like</button>
        <p> + {{ counter }} like </p>
    </div>
    <!--create new vue, need v-if condition to change the status of image-->
    <script>
        new Vue ({
            el: '#img2',
            data() {
                return {
                    active: 0,
                    // visible: true,
                };
            },

            methods: {
                show(index) {
                    if (index !== 0) {
                        // this.visible = false;
                        this.active = index;
                    } else {
                        // this.visible = true;
                        this.active = index;
                    }
                },
            }
        })
        new Vue ({
            el: '#clickevent2',
            data() {
                return {
                    counter: 0
                }
            }
        })
    </script>

    <div id="img3">
        <a href="" @mouseenter="show(4)" @mouseleave="show(0)">
            <img v-show="active ===0" src="img_5.png" alt="pets" >
            <img v-show="active === 4" class="hide_tab" src="img.png" alt="pets">
        </a>
    </div>
    <div id="clickevent3">
        <button v-on:click="counter += 1">Like</button>
        <p> + {{ counter }} like </p>
    </div>
    <!--create new vue, need v-if condition to change the status of image-->
    <script>
        new Vue ({
            el: '#img3',
            data() {
                return {
                    active: 0,
                    // visible: true,
                };
            },

            methods: {
                show(index) {
                    if (index !== 0) {
                        // this.visible = false;
                        this.active = index;
                    } else {
                        // this.visible = true;
                        this.active = index;
                    }
                },
            }
        })
        new Vue ({
            el: '#clickevent3',
            data() {
                return {
                    counter: 0
                }
            }
        })
    </script>

    <div id="img4">
        <a href="" @mouseenter="show(4)" @mouseleave="show(0)">
            <img v-show="active ===0" src="img_7.png" alt="pets" >
            <img v-show="active === 4" class="hide_tab" src="img_6.png" alt="pets">
        </a>
    </div>
    <div id="clickevent4">
        <button v-on:click="counter += 1">Like</button>
        <p> + {{ counter }} like </p>
    </div>
    <!--create new vue, need v-if condition to change the status of image-->
    <script>
        new Vue ({
            el: '#img4',
            data() {
                return {
                    active: 0,
                    // visible: true,
                };
            },

            methods: {
                show(index) {
                    if (index !== 0) {
                        // this.visible = false;
                        this.active = index;
                    } else {
                        // this.visible = true;
                        this.active = index;
                    }
                },
            }
        })
        new Vue ({
            el: '#clickevent4',
            data() {
                return {
                    counter: 0
                }
            }
        })
    </script>

<!--using v-for and v-model to write the select -->
    <div id="v-model-select-dynamic" class="input">
        <p>Please choose your favourite image!</p>
        <select class="browser-default" v-model="selected">
            <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>
        <span>{{ selected }}</span>
    </div>
    <script>
        new Vue ({
            el: '#v-model-select-dynamic',
            data() {
                return {
                    selected: '',
                    options: [
                        { text: 'First', value: 'First one has been 2 years old' },
                        { text: 'Second', value: 'Second one has been 6 months' },
                        { text: 'Third', value: 'Third one has been 3 months' },
                        { text: 'Fourth', value: 'Fourth puppy is one and half month' }
                    ]
                }
            }
        })
    </script>

    <footer>Thank you reviewing my page!</footer>

</body>
</html>