<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
<div id="app">
    <h3>Your Name is : {{name}}</h3>
    <input type="text" v-model="name"/>
</div>
<div id="app1">
    <ul>
        <li v-for="n in countdown">{{n}}</li>
    </ul>
</div>

</body>

<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            name: "kk"
        }
    });
    var app1 = new Vue({
        el: '#app1',
        data: {
            countdown: [5, 4, 3, 2, 1]
        }
    })
</script>

</html>